{% extends 'base.html.twig' %}

{% block title %}Modiification du profil utilisateur {% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifiation du profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer les modfications</button>
   {{ form_end(form) }}
    </div>
{% endblock %}